		<div class="col-md-7">
			<div class="row">
				<div style="margin-top:30px;" class="col-md-12"> 
					<h3>{{ label }}</h3>
					<div>{{ content.field_image }}</div>
					<div>{{ content.body }}</div>
			        <br>
		            {% if content.field_doc|render  %}
		             	<div>{{ content.field_doc }}</div>
		            {% endif %}
				</div>
			</div>
		</div> {# //end col-md-7 content #}

