		<div class="col-md-7">
			<div class="row">
				<div class="col-md-3"></div>
				<div style="background-color:#BD4B26; color:white;" class="col-md-6">
					<h3 class="text-center">Latest News</h3>
				</div>
				<div class="col-md-3"></div>
			</div>
		
			<div class="row">
				<div style="margin-top:30px;" class="col-md-12"> 
					<div>{{ content.field_image }}</div>
					<div>{{ content.body }}</div>
			        <br>
		            {% if content.field_doc|render  %}
		             	<div>{{ content.field_doc }}</div>
		            {% endif %}
				</div>
			</div>
		</div> {# //end col-md-7 content #}

