<div class="container-fluid">

	<!-- hearder -->
	{% include directory ~ '/partials/header.html.twig' %}
	<!-- //end hearder -->

	<div style="margin-top: 40px; margin-bottom: 50px;" class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">{{ page.content }}</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">{{ page.sidebar_first }}</div>

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">{{ page.slider }}</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- // Footer start -->
	{% include directory ~ '/partials/footer.html.twig' %}
	<!-- // End Footer start -->
</div>
