<div class="views-exposed-form contextual-region" data-drupal-selector="views-exposed-form-agenda-page-1" id="block-exposedformagendapage-1">

	<div data-contextual-id="block:block=exposedformagendapage_1:langcode=en|entity.view.edit_form:view=agenda:location=exposed_filter&amp;name=agenda&amp;display_id=page_1&amp;langcode=en" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button>

		<!-- THEME DEBUG -->
		<!-- THEME HOOK: 'links__contextual' -->
<!-- FILE NAME SUGGESTIONS:
   * links--contextual.html.twig
   x links.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->
<ul class="contextual-links" hidden=""><li class="block-configure"><a href="/admin/structure/block/manage/exposedformagendapage_1?destination=commissions-hearings/1/agenda">Configure block</a></li><li class="entityviewedit-form"><a href="/admin/structure/views/view/agenda/edit/page_1?destination=commissions-hearings/1/agenda">Edit view</a></li></ul>
<!-- END OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->

</div>


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
<form action="/commissions-hearings/all/agenda" method="get" id="views-exposed-form-agenda-page-1" accept-charset="UTF-8" data-drupal-form-fields="edit-node-date-filter">


	<!-- THEME DEBUG -->
	<!-- THEME HOOK: 'views_exposed_form' -->
	<!-- BEGIN OUTPUT from 'themes/lacity/views/views-exposed-form.html.twig' -->
	<div class="form--inline clearfix">


		<!-- THEME DEBUG -->
		<!-- THEME HOOK: 'form_element' -->
		<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
		<div class="js-form-item form-item js-form-type-select form-item-node-date-filter js-form-item-node-date-filter">


			<!-- THEME DEBUG -->
			<!-- THEME HOOK: 'form_element_label' -->
			<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->
			<label for="edit-node-date-filter">Date Filter</label>
			<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->




			<!-- THEME DEBUG -->
			<!-- THEME HOOK: 'select' -->
			<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->
			<div class="input-group">
				<select data-drupal-selector="edit-node-date-filter" id="edit-node-date-filter" name="node_date_filter" class="form-select form-control"><option value="All">- Any -</option><option value="2016" selected="selected">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option></select>
				<!-- END OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->




			<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->



			<!-- THEME DEBUG -->
			<!-- THEME HOOK: 'container' -->
<!-- FILE NAME SUGGESTIONS:
   x container--custom.html.twig
   * container.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/lacity/templates/container--custom.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__submit' -->
<!-- FILE NAME SUGGESTIONS:
   * input--submit.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
<span class="input-group-btn">
	<input data-drupal-selector="edit-submit-agenda" type="submit" id="edit-submit-agenda" value="Apply" class="button js-form-submit form-submit btn btn-success">
</span>
<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

</div>
</div>

<!-- END OUTPUT from 'themes/lacity/templates/container--custom.html.twig' -->


</div>

<!-- END OUTPUT from 'themes/lacity/views/views-exposed-form.html.twig' -->


</form>

<!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


</div>
